body {
  margin: 0px;
  font-family: "monospace", "Lucida Sans Unicode", "Lucida Sans";
  background-image: url("./assets/images/weights.avif");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 992px) {
  body {
    background-image: url("./assets/images/pullups.avif");
  }
}

.button {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}

.button.cancel-btn:hover {
  background-color: #f3270b;
  box-shadow: 0px 15px 20px rgba(243, 42, 11, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button.accept-btn:hover {
  background-color: #0b91f3;
  box-shadow: 0px 15px 20px rgba(11, 113, 243, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
